* {
  margin: 0;
  font-family: "Work sans", sans-serif;
  h1, h2 {
    font-family: "Amatic SC", sans-serif;
    text-align: center;
  }
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(assets/images/lyon.webp);
  background-position: center;
  background-size: cover;
  height: 500px;
  color: white;
  h1 {
    font-family: "Amatic SC", sans-serif;
    font-size: 70px;
    margin-bottom: 10px;
  }
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-bottom: 20px;
    gap: 10px;
  }
}
body {
  main {
    article#aboutUs {
      margin-top: 30px;
      margin-bottom: 40px;
      display: flex;
      img {
        width: 320px;
        height: 180px;
      }
      div.description {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 60px;
        h2 {
          text-align: left;
        }
      }
    }
  }
}
section#plates {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border: solid grey 1px;
        box-shadow: 0px 3px 3px grey ;
        width: 450px;
        height: 500px;
        p:first-of-type {
            font-size: 24px;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    img {
        width: 250px;
        height: 250px;
    }
    p {
      text-align: center;
    }
  }
